.flex {
    display: flex;
}

.grid {
    display: grid;
}

.center {
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
}
.wrap{
    flex-wrap: wrap;
}
.container {
    max-width: 1330px;
    @media (max-width:1330px) {
        padding-right: 20px;
        padding-left: 20px;
    }
}
.flxe-align-start{
    align-self:flex-start ;
}
.flxe-align-end{
    align-self:flex-end ;
}
.margin-center {
    margin: 0 auto;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}